* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(196, 212, 233);
}
body {
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* menu */
#nav {
  /* height: 70px; */
  display: flex;
  background-color: lightsteelblue;
  align-items: center;
}
#nav .logo-hn {
  flex: 25%;
}

#nav .logo-hn img:hover {
  border: crimson solid 3px;
}

#nav .menu {
  flex: 75%;
}
.menu ul {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.menu li a {
  color: black;
  display: block;
  text-align: center;
}
li {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 8px 0;
}
.menu-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.menu-list li:hover {
  background-color: rgb(114, 166, 245);
}
.menu-list a {
  color: black;
  font-size: 20px;
  text-align: center;
  display: block;
}
.menu-list li:hover > a {
  color: white;
}
/* menu end */

/* main */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slide-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#main {
  background-color: rgb(196, 212, 233);
}

#main .welcome-text {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
}
.welcome-text h1 {
  text-align: center;
}

/* thẻ nội dung */
.card {
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  margin: 10px 30px;
  text-align: center;
}
.content .card {
  margin: 40px;
}
.card:hover {
  transform: translateY(-15px);
}

.flex {
  display: flex;
  flex-direction: column;
}

/* main - end */
/* Footer */
.footer {
  padding: 20px 30px;
  background-color: rgb(140, 197, 250);
  margin-top: auto;
}
.footer-text {
  margin-bottom: 20px;
  text-align: center;
}

.footer-text,
.social {
  align-items: center;
}

.social {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.social a {
  padding: 0 20px;
}

.ti-facebook:hover {
  color: #1773ea;
}

.ti-instagram:hover {
  color: #b32e87;
}

.ti-twitter:hover {
  color: #1c9cea;
}

/* css trang vị trí */
.main-place {
  pointer-events: none;
  background-color: rgb(208, 250, 208);
}

.text,
.hn-location-text {
  width: 80%;
  padding: 30px 0;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
  margin: auto;
}
.text h3,
.hn-location-text h3 {
  text-align: center;
  color: orangered;
}

.text li {
  list-style-type: circle;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  color: black;
  border: rgb(196, 192, 255) e;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  margin: 20px auto;
}

.btn-outline {
  background-color: plum;
  border: 1px black solid;
}

.btn:hover {
  transform: scale(1.2);
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-rows: auto;
}
.grid img {
  width: 80%;
  margin: auto;
  object-fit: cover;
}

/* giải trí */
.grid-etm {
  display: grid;
  column-gap: 20px;
  line-height: 1.4;
  font-size: 17;
}
.etm-list {
  width: 80%;
  padding-left: 40px;

  margin: 20px auto 0 auto;
  border: 1px solid #b32e87;
  background-color: #f5d7d7;
}
.etm-list a:hover {
  color: blue;
  font-size: 20px;
}
.etm-content h2,
.fes-content h2 .food-content h2 {
  text-align: center;
}
.etm-content h4 {
  color: red;
  font-style: italic;
}
.etm-content img,
.fes-content img {
  width: 100%;
  margin: auto;
}
.etm-content,
.fes-content,
.food-content {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
}
.bg-color {
  margin: auto;
  width: 90%;
  background-color: cornsilk;
}
.etm-content ul li,
.food-content ul li {
  list-style: square;
  padding: 2px;
  list-style-position: inside;
}

/* homepage back */
.homepage-back{
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;

}
/* for fun */
#fun {
  overflow: hidden;
  display: none;
}

.animation {
  position: relative;
  width: 200px;
  /* margin: 10px auto; */
  bottom: 0px;
  left: 10%;
  color: red;
  animation-name: fade;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  25% {
    color: green;
  }
  50% {
    left: 80%;
    opacity: 0.1;
  }
}
